<div class='ps-main'>
  <div class='ps-show-container'>
    <div class='ps-side-wrap'>
      <div class='ps-side-area-search'>
        <div class='ps-side-area-search-main'>
          <div class='ps-side-area-search-container'>
            <div class='ps-side-area-search-header'>
              <p><strong class='fs-20 fw-600'>エリア</strong>から探す</p>
            </div>
            <div class='ps-side-area-search-item'>
              <a class='ps-side-city-a'>
                <span class='ps-side-city-title fs-20 fw-600'><%= @prefecture.name %></span><i class='fas fa-angle-right'></i>
              </a>
              <div class='ps-side-area-search-mw hidden'>
                <div class='ps-side-area-search-mw-main'>
                  <div class='ps-side-area-search-mw-container'>
                    <div class='ps-side-area-search-mw-head fs-15 fw-600'>
                      <ul>
                        <li>
                          <a>市区町村から探す</a>
                        </li>
                      </ul>
                    </div>
                    <div class='ps-side-area-search-mw-city-item'>
                      <div class='ps-side-area-search-mw-city-list fs-13'>
                        <% @cities.each_slice(6) do |cities| %>
                          <ul>
                            <% cities.each do |city| %>
                              <li>
                                <a><span>市区町村</span></a>
                              </li>
                            <% end %>
                          </ul>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='ps-wrap'>
      <div class='ps-main'>
        <div class='ps-main-head'>
          <div class='ps-main-head-title'>
            <h2><%= "#{@prefecture.name}のお店" %></h2>
          </div>
        </div>
      </div>
      <div class='ps-main-nav-container'>
        <ul class='ps-main-nav-wrap'>
          <li class='cloth-stores-list is-active' id='cloth-stores-list'>
            <div>
              <i class="fas fa-store-alt"></i>
              <span>店舗一覧</span>
            </div>
          </li>
          <li class='reviews-list' id='reviews-list'>
            <%= link_to reviews_path(@prefecture.code) do %>
              <div>
                <i class="fas fa-pen"></i>
                <span>レビュー一覧</span>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class='ps-info-container'>
        <%= render partial: "ps-info-wrap", collection: @cloth_stores, as: :cloth_store %>
      </div>
      <div class='ps-pagenation-container'>
        <%= paginate @cloth_stores %>
      </div>
      <div class='ps-notice-container fs-14'>
        <p>
          <i class="fas fa-bullhorn"></i>
          お探しのお店が登録されていない場合は
          <%= link_to "古着屋の新規登録ページ", new_cloth_store_path %>
          から新規登録を行うことができます
        </p>
      </div>
    </div>
  </div>
</div>




