<%= form_with model: review_form, url: reviews_create_path(cloth_store.id), class: 'rmw-form', id: 'rmw-form', remote: true do |f| %>
  <div class='rmw-header'>
    <div class='rmw-header-inner'>
      <%= link_to reviews_close_path, remote: true, data: { confirm: 'このフォームを閉じると、レビュー内容は削除されますがよろしいですか？' } do %>
        <i class="fas fa-times"></i>
      <% end %>
      <p class='rmw-header-store-name'>
        <span class='fw-bold fs-20'><%= cloth_store.name %></span>
      </p>
      <p class='rmw-header-store-name-kana fs-11'><%= cloth_store.name_kana %></p>
    </div>
  </div>
  <div class='rmw-main'>
    <div class='rmw-main-wrap'>
      <div class='rmw-main-container'>
        <div class='rmw-main-contents'>
          <%= render partial: 'users/cloth_stores/cloth_form', locals: { f: f } %>
          <div class='rmw-main-score'>
            <%= render partial: "users/shared/error_messages", locals: { f: review_form, attribute: "score", attribute_string: "評価" } %>
            <p class='fs-16 fw-bold'>店舗評価を5段階評価で入力して下さい（この項目は必須です）</p>
            <div class='score-box'>
              <div class='score-wrap'>
                <div class='score-contents'>
                  <i class="far fa-star fs-30" id='star-score-1'></i>
                  <i class="far fa-star fs-30" id='star-score-2'></i>
                  <i class="far fa-star fs-30" id='star-score-3'></i>
                  <i class="far fa-star fs-30" id='star-score-4'></i>
                  <i class="far fa-star fs-30" id='star-score-5'></i>
                </div>
                <div class="score-value-display fs-20"><span id="score-value-display">0</span>/5</div>
                <%= f.hidden_field :score, id: 'score-value' %>
              </div>
            </div>
          </div>
          <div class='rmw-main-title'>
            <%= render partial: "users/shared/error_messages", locals: { f: review_form, attribute: "title", attribute_string: "レビュータイトル" } %>
            <%= f.text_area :title, class: 'fs-16 fw-bold', id: 'rmw-main-title-textarea', maxlength: '50', placeholder: 'レビュータイトルを入力して下さい（この項目は必須です、50文字まで）' %>
            <div class='title-count-wrap fs-16 fw-bold'><span id='title-count'>0</span>/50</div>
          </div>
          <div class='rmw-main-text'>
            <%= render partial: "users/shared/error_messages", locals: { f: review_form, attribute: "text", attribute_string: "レビュー本文" } %>
            <%= f.text_area :text, class: 'fs-14', id: 'rmw-main-text-textarea', maxlength: '5000', placeholder: 'レビュー本文を入力して下さい（この項目は必須です、5000文字まで）' %>
            <div class='text-count-wrap fs-14'><span id='text-count'>0</span>/5000</div>
          </div>
          <%= render partial: 'users/cloth_stores/photo_form', locals: { f: f, review: review } %>
        </div>
      </div>
    </div>
    <div  class='rmw-footer'>
      <div class='rmw-footer-contents'>
        <p class='rmw-footer-button'>
          <%= f.button type: "submit", id: 'rmw-footer-button' do %>
            <i class="fas fa-pen"></i>レビューを投稿する
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
