<div class='swiper-container'>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'>
      <div class='swiper-content'>
        <%= image_tag 'store1.jpg' %>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='swiper-content'>
        <%= image_tag 'store2.jpg' %>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='swiper-content'>
        <%= image_tag 'store3.jpg' %>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='swiper-content'>
        <%= image_tag 'store4.jpg' %>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='swiper-content'>
        <%= image_tag 'store5.jpg' %>
      </div>
    </div>
  </div>
  <div class='swiper-pagination'></div>
</div>