<div class='regis-container'>
  <div class='regis-header'>
    <div class='regis-header-wrap'>
      <h1>
        <%= link_to 'Vinclo', root_path %>
      </h1>
      <div>
        <p class='register-button' style="margin-right:15px;">
          <%= link_to '新規会員登録の方はこちら', new_user_registration_path, class: 'register-button-a' %>
        </p>
        <p class='regis-login-button'>
          <%= link_to 'ログインの方はこちら', new_user_session_path %>
        </p>
      </div>
    </div>
  </div>
  <div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'registration-main' }) do |f| %>
      <div class='regis-main'>
        <section class='regis-main-section'>
          <div class='regis-input'>
            <h2 class='fs-18 fw-700'>パスワード再設定</h2>
            <div class='regis-form-input'>
              <p class='regis-form-input-p fs-12'>※新規会員登録ページで入力したgmailアドレスを入力してください。<br>※メールが届かない場合は、登録時のgmailアドレスと異なっている可能性がございます。右上のリンクより、もう一度新規会員登録を行ってください。</p>
              <div class='regis-input-box'>
                <div>
                  <%= render partial: "devise/shared/error_messages", locals: { f: resource, attribute: "email", attribute_string: "メールアドレス" } %>
                  <%= f.email_field :email, autofocus: true, placeholder: "gmailアドレス", class: 'fs-16 fw-700' %>
                </div>
              </div>
            </div>
            <div class='regis-submit-button'>
              <%= f.submit "パスワード再設定用確認メールを送る" %>
            </div>
          </div>
        </section>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: 'users/shared/footer_bottom' %>
