<div class='regis-container'>
  <div class='regis-header'>
    <div class='regis-header-wrap'>
      <h1>
        <%= link_to 'Vinclo', root_path %>
      </h1>
      <div>
        <p class='register-button'>
          <%= link_to '新規会員登録の方はこちら', new_user_registration_path, class: 'register-button-a' %>
        </p>
      </div>
    </div>
  </div>
  <div>
    <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
      <div class='regis-main'>
        <section class='regis-main-section'>
          <div class='regis-input' style="border-right:1px solid rgb(204, 204, 204);float:left;">
            <h2 class='fs-18 fw-700'>メールアドレスでログイン</h2>
            <div class='regis-form-input'>
              <p class='regis-form-input-p fs-12'>※新規会員登録ページで入力したメールアドレスとパスワードを入力してください。</p>
              <div class='regis-input-box'>
                <div>
                  <% if @user.errors.any? %>
                    <% @user.errors.messages[:email].each do |message| %>
                      <li><%= "メールアドレス#{message}" %></li>
                    <% end %>
                  <% end %>
                  <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: 'fs-16 fw-700' %>
                </div>
              </div>
              <div class='regis-input-box'>
                <div class='regis-input-password'>
                  <% if @user.errors.any? %>
                    <% @user.errors.messages[:password].each do |message| %>
                      <li><%= "パスワード#{message}" %></li>
                    <% end %>
                  <% end %>
                  <%= f.password_field :password, placeholder: "パスワード【6〜16文字】", class: 'fs-16 fw-700' %>
                </div>
              </div>
              <div class='regis-input-box'>
                <div class='edit-user-regis'>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to 'パスワードをお忘れの方はこちら', new_user_password_path, class: 'fs-12' %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class='regis-submit-button'>
              <%= f.submit "ログイン" %>
            </div>
          </div>
        </section>
        <section>
          <div class='regis-social-login'>
            <h2 class='fs-18 fw-700'>他のサービスIDでログイン</h2>
            <div class='regis-social-box'>
              <ul>
                <li>
                  <a class='regis-social-a'><i class="fab fa-facebook regis-social-icon fs-35"></i>Facebook</a>
                </li>
                <li>
                  <a class='regis-social-a'><img src="https://img.icons8.com/color/96/000000/google-logo.png" class="google-img regis-social-icon">Google</a>
                </li>
                <li>
                  <a class='regis-social-a'><i class="fab fa-line regis-social-icon fs-35"></i>LINE</a>
                </li>
                <li>
                  <a class='regis-social-a'><i class="fab fa-twitter-square regis-social-icon fs-35"></i>Twitter</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: 'users/shared/footer_bottom' %>