<%= render partial: 'users/shared/swiper' %>
<%# <%= cell(:notification).(:recent_notifications) %> 
<h1 class='top-main'>あなたの知らない、古着屋に出会える</h1>
<%= cell(:prefecture).(:search_prefectures) %>
<%# <%= cell(:history).(:user_histories)  %>
<%# <%= cell(:store).(:many_reviews) %> 
<%# <%= cell(:review).(:recent_reviews) %> 