<!DOCTYPE html>
<html>
  <head>
    <title>Vinclo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'css/reset.css', media: 'all' %>
    <%= stylesheet_link_tag 'users', media: 'all' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= javascript_pack_tag 'users' %>
  </head>

  <body>
    <header>
      <%= render partial: 'users/shared/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class='fs-12'>
      <%= render partial: 'users/shared/footer' %>
    </footer>
    <script src="https://kit.fontawesome.com/fb52d9c8d6.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>